body{
    font-family: 'Raleway',sans-serif;
}

.container{
    display: flex;
    width: 800px;
    justify-content: center;
    text-align: center;
}

.container .cardCalculo{
    border: 1px solid #999;
    width: 100%;
    background: #00b311;
    padding: 50px;
}
.container .cardCalculo .campo{
    height: 40px;
    display: flex;
    width: 100%;
}

.container .cardCalculo .botaoCalcular{
    margin-top: 15px;
    display: flex;
    width: 100%;
    background: #EA0406;
    border: none;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    padding: 0 0 0 300px;
}
